<div class="page">
    <form class="formControl" action="/list/create" method="POST">
        <label>Nome da lista</label>
        <input name="name" type="text" placeholder="Dê um nome a sua lista.">
        <label>Status</label>
        <input name="status" type="text" placeholder="Pendente, Em andamento, Concluído">
        <label>Descrição</label>
        <textarea name="description" placeholder="Descreva o objetivo da sua lista"></textarea>
        <button class="formButton" type="submit">Criar</button>
    </form>
</div>