<div class="listBox">
    <p>{{this.name}}</p>
    <div class="listOptions">
        <form action="list/delete/{{this.id}}" method="POST"><button type="submit" class="optionButton"><img src="img/delete.png"></button></form>
    </div>
</div>