<div class="page">
    <div class="pageTitle">
        <h1>Login</h1>
    </div>
    <div class="pageContainer">
        <form class="formControl">
            <label>Username</label>
            <input type="text">
            <label>Senha</label>
            <input type="password">
        </form>
        <p>Não possui uma conta?</p>
        <p><a href="/user/register">Cadastre-se</a></p>
    </div>
</div>