*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url('https://i.dlpng.com/static/png/5481600-kanna-transparent-tumblr-kanna-transparent-500_539_preview.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    background-color: transparent ;
    width: 100%;
    max-width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    border-bottom: 5px solid #DC143C;
    padding: 10px 0 10px 0;
}

#logoTitle {
    text-decoration: none;
    color: #DC143C;
    font-size: 2em;
    margin-left: 30px;
}
.navbar div{
    height: 100%; 
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navbar div a, .navbar div form button{
    text-decoration: none;
    color: #DC143C;
    background-color: transparent;
    font-size: 1em;
    padding-right: 30px;
    margin: 0;
    border: none;
    cursor: pointer;
}
.navbar div a:hover, .navbar div form button:hover{
    font-size: 1.1em;
    padding-left: 5px;
    border-left: 3px solid #DC143C;
    transition: 0.1s;
}
footer{
    width: 100%;
    height: 100px;
    bottom: 0;
    border-top: 2px solid #DC143C;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p span{
    color: #DC143C;
    font-weight: bold;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 3em 0 3em 0;
}
.container .page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.container .pageTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #DC143C;
    font-size: 1em;
    font-weight: 100;
}

.formControl{
    width: 400px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formControl select{
    height: 45px;
    border-radius: 0.5em;
    padding: 0 10px 0 10px;
    border: 2px solid #DC143C;
}
.formControl input{
    height: 45px;
    border-radius: 0.5em;
    padding: 0 10px 0 10px;
    border: 2px solid #DC143C;
}
.formControl textarea{
    resize: none;
    height: 70px;
    border-radius: 0.5em;
    padding: 10px 10px 10px 10px;
    border: 2px solid #DC143C;
}
.formControl label{
    border-left: 5px solid #DC143C;
    padding-left: 7px;
    margin: 10px 0 10px 0;
}

.formControl .formButton{
    margin: 20px 0 20px 0;
    height: 45px;
    background-color: transparent;
    color: #DC143C;
    border-radius: 0.5em;
    border: 2px solid #DC143C;
    cursor: pointer;
}
.formControl .formButton:hover{
    background-color: #DC143C;
    color: #fff;
    border: none;
    transition: 0.5ms;
}
.dashboardOptionsArea{
    width: 400px;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.listMenuArea{
    width: 800px;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em 0 3em 0;
}
.listMenuArea form{
    width: 30%;
}
.dashboardOption{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #DC143C;
    color: #DC143C;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1.2em;
}
.listMenuOption{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #DC143C;
    color: #DC143C;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1.2em;
}
.dashboardOption:hover, .listMenuOption:hover{
    background-color: #DC143C;
    color: #fff;
    transition: 0.5ms;
}
.listsArea{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em 0 3em 0;
}
.listBox{
    margin: 0.5em 0 0.5em 0;
    width: 250px;
    height: 150px;
    background-color: transparent;
    border: 1px solid #DC143C;
    font-size: 1.5em;
    border-radius: 0.5em;
    display: flex;
    color: #DC143C;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.listBox:hover{
    background-color: #DC143C;
    color: #fff;
    transition: 2ms;
}
.listBox p{
    background-color: transparent;
    text-align: center;
}
.listBox .listBoxOptions{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.listBox .listBoxOptions form{
    height: 25px;
    margin-bottom: 10px;
}
.listBox .listBoxOptions form .listBoxOptionButton:hover{
    /*height: 32px;
    width: 32px;*/
    border: 2px solid #fff;
}
.listBoxOptionButton{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.listBoxOptionButton img{
    max-height: 100%;
}
.itemsArea{
    width: 800px;
    max-width: 80%;
}
.itemArea{
    background-color: #ffe4c4;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DC143C;
    border-left: 2px solid #DC143C;
    border-radius: 0.5em;
    margin-top: 2em;
}
.itemArea .itemTitle{
    margin-left: 20px;
    font-size: 20px;
}
.itemArea p{
    margin-right: 20px;
}